<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/css/style.css" />
    <!--Import materialize.css-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <!-- Website Header  -->
    <header>
      <nav class="nav-extended card-panel teal lighten-1">
        <div class="nav-wrapper">
          <ul class="left hide-on-med-and-down">
            <li><a href="/">Home </a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            {{# logged_in}}
            <li><a id='logout'>Logout</a></li>
            {{else}}
            <li><a>Login</a></li>
            <li><a href='/signup'>Sign Up</a></li>
          {{/if}}
          </ul>
        </div>
        <div class="nav-content">
          <a  class="nav-title" href="/">The Tech Blog</span>
          
        </div>
      </nav>
    </header>

    <!-- Page Content Rendered via HandleBars-->
    <main>
      {{{body}}}
    </main>

    <!-- Sticky Footer -->
    {{! <footer class='page-footer'>
      <div class='container'>
        <div class='footer-bar'>
          <div>© 2023 Copyright - Tech Blog</div>
          <div>Tech Blog by
            <a href='https://github.com/msadio8'>Meriam</a>,
        </div>
      </div>
    </footer> }}

    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}
    <script src="/js/index.global.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
    <script>dayjs().format()</script>
  </body>

</html>