<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/css/style.css" />
    <!--Import materialize.css-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <!-- Website Header  -->
    <header>
      <!-- Website logo -->
      <nav class="nav-extended teal lighten-1">
        <div class="nav-wrapper">
          <ul class="left hide-on-med-and-down">
            
            <li class="nav-item"><a href="/">Home</a></li>
            <li class="nav-item"><a href="/dasboard">Dashboard</a></li>

          {{#if logged_in}}
            <li class="nav-item"><a class="nav-link" href="#" id="tech-logout">Logout</a></li>
            {{else}}
            <li class="nav-item"><a class="nav-link" href='/login'>Login </a></li>
            <li class="nav-item"><a class="nav-link" href='/signup'>Sign Up</a></li>
          {{/if}}
          </ul>
        </div>
        <div class="nav-content">
          <span class="nav-title">Tech Blog</span>

        </div>
      </nav>
    </header>

    <!-- Page Content Rendered via HandleBars-->
    <main>
      {{{body}}}
    </main>

    <!-- Sticky Footer -->
    <footer class="page-footer teal lighten-1">
      <div class="container">
        <div class="footer-bar">
          <div>© 2023 Copyright </div>
          <div>Tech Blog Pro brought to you by
            <a href="https://github.com/msadio8">Meriam</a>,
            
        </div>
      </div>
    </footer>

    <script src="/js/delete-post.js"></script>
    <script src="/js/login.js"></script>
    <script src="/js/logout.js"></script>
    <script src="/js/new-post.js"></script>
    <script src="/js/signup.js"></script>
    <script src="/js/edit-post.js"></script>
    <script src="/js/new-comment.js"></script>
    

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
    ></script>
    
  </body>

</html>