<html lang='en'>

<head>
  <meta charset='UTF-8' />
  <title>Tech Blog</title>
  <link rel='stylesheet' href='/css/style.css' />
  <!--Import materialize.css-->
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
</head>

<body>
  <header>
    <nav class='navi'>
      <div class='nav-wrapper'>
        <a href='/' class='brand-logo'>Tech Blog</a>
        <ul id='nav-mobile' class='right hide-on-med-and-down'>
          {{#if logged_in}}
          <li><a href='/profile'>Profile</a></li>
          <li><a id="logout">Logout</a></li>    
          {{else}}
          <li><a href='/login'>Login </a></li>
          <li><a href='/signup'>Sign Up</a></li>
          {{/if}}
        </ul>
      </div>
    </nav>
  </header>

  {{{body}}}
  
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  <script src='/js/index.global.js'></script>
  <script src='https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
</body>

</html>